html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
    background-color: #003f5c;
    color: white;
}

.btn {
    background-color: #58508d;
    color: white;
    cursor: pointer;
    padding: 12px 32px;
}

.btn:hover {
    background-color: #bc5090;
}

.image-container-container {
    margin-bottom: 1rem;
    border: 8px solid #ff6361;
    border-radius: 8px;
}

.image-container {
    position: relative;
    aspect-ratio: 1/1;
    --length: min(88vw, 400px);
    width: var(--length);
    height: var(--length);
    
}

.background,.ears, .eyes, .hair, .leg, .mouth, .neck, .nose, .accessory {
    max-width: 100%;
    position: absolute;
}

.image-container .accessory {
    z-index: 40;
}

.image-container .ears {
    z-index: 10;
}

.image-container .eyes {
    z-index: 40;
}

.image-container .hair {
    z-index: 30;
}

.image-container .leg {
    z-index: 40;
}

.image-container .mouth {
    z-index: 40;
}

.image-container .neck {
    z-index: 10;
}

.image-container .nose {
    z-index: 30;
}

.radio-container {
    display: inline;
    text-wrap: nowrap;
}

.d-none {
    display: none !important;
}

.container {
width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }

  .contents {
    display: flex;
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}